body {
    background-image: url();
}

#mainvoyage1 {
    display: flex;
    flex-direction: column;
}

#halfmainvoyage1 {
    display: flex;
    flex-direction: row;
}

#visitvoyage1 {
    display: flex;
    flex-direction: column;
}

#pourquoivoyage1 {
    border: 1px black solid;
}

#activitesvoyage1 {
    border: 1px black solid;
}

/*Tableau activités*/


#saisonsvoyage1 {
    border: 1px black solid;
}

#preparationsvoyage1 {
    border: 1px black solid;
}

#specialitesvoyage1 {
    border: 1px black solid;
}

#tipsvoyage1 {
    border: 1px black solid;
}

#photovoyage1 {
    border: 1px black solid;
}

#photovoyage1 img {
    width: 20vh;
    height: 20vh;
}