@keyframes slide
    {
        0%, 5%, 100%
            {
                transform: translateX(0);
            }
        25%
            {
                transform: translateX(-80vw);
            }
        50%
            {
                transform: translateX(-160vw);
            }
        75%
            {
                transform: translateX(-80vw);
            }
    }
html    
    {
        margin: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
body
    {
        margin: 0;
    }
#mainv6
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
#mainv6 h1      
    {
        font-size: 35px;
    }
#mainv6 p
    {
        width: 80%;
        text-align: justify;
    }
/* Intro */
#introv6
    {
        width: 80vw;
        overflow: hidden;
        margin-top: 5vh;
        border: 1px solid black;
        box-shadow: 0px 0px 10px green;
        
    }
#sliderv6
    {
        display: flex;
        flex-direction: row;
        flex-grow: 5;
        width: 80vw;
        height: 100vh;
        animation: slide 20s infinite;
    }
#sliderv6 img
    {
        width: 80vw;
    }
/* Contenu */
#contenuv6
    {
        display: flex;
        flex-direction: row;
    }
/* Première partie */
#partie1v6
    {
        display: flex;
        flex-direction: column;
    }
/* Pourquoi */
#pourquoiv6
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
/* Que faire */
#quev6
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
#quev6 img
    {
        width: 30vw;
    }
#chosev6
    {
        display: flex;
        flex-direction: column;
    }
#menuv6
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 5vh;
    }
#menuv6 a   
    {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: black;
        width: 100%;
    }
/* Specialité */
#spev6
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
/* Marché */
#marketv6   
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
#imgmarketv6
    {
        width: 50vh;
    }
/* Dessert */
#dessertv6
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
#titrev6
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 30%;
    }
#imgfruit
    {
        height: 10vh;
    }
/* Tips */
#tipsv6
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
/* Partie 2 */
#partie2v6
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid black;
        margin-top: 5vh;
        margin-bottom: 5vh;
        height: 300vh;
    }
/* Quand */
#quandv6
    {
        border: 1px dashed black;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5vh;
        margin-bottom: 5vh;
    }
table
    {
        display: flex;
        width: 50%;
        border-spacing: 0;
    }
tbody
    {
        width: 15vw;
    }
td  
    {
        text-align: center;
        width: 50%;
        border: 1px solid black;
    }
/* couleur */
.vert
    {
        background-color: green;
    }
.orange
    {
        background-color: orange;
    }
.rouge
    {
        background-color: red;
    }
/* legende */
#legende
    {
        display: flex;
        align-items: center;
        width: 70%;
        font-size: 12px;
    }
#legende td 
    {
        width: 33%;
        height: 4vh;
    }
/* Quoi */
#quoiv6
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px dashed black;
        width: 80%;
    }
#quoiv6 h1  
    {
        text-align: center;
        margin: 0;
    }
/* Video */
#videov6
    {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 80%;
        height: 100vh;
    }